node_modules/
dist/
dist-renderer/
dist-electron/

.tmp*/
.tmp-*/
ftranslate_cool_icon_pack/
ftranslate_ui_reference_images_only/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
